div.small {
    position: absolute;
    width: 400px;
    height: 100%;
    border-right: 2px solid gray;
}

div.medium {
    position: absolute;
    width: 700px;
    height: 100%;
    border-right: 2px solid gray;
}

div.large {
    position: absolute;
    width: 1000px;
    height: 100%;
    border-right: 2px solid gray;
}