<div class="small"></div>
<div class="medium"></div>
<div class="large"></div>
<test-component *ifViewportSize="'small'">1</test-component>
<test-component *ifViewportSize="'medium'">2</test-component>
<test-component *ifViewportSize="'large'">3</test-component>
